html, body {
  margin: 5px;
  padding: 0;
  text-align: center;
}

span.hidden {
  background-color: black;
  display: inline-block;
  width: 20px;
}

div.players {
  width: max-content;
  text-align: left;
  margin: auto;
}

li {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

span#observers {
  color: grey;
}

span.choice {
  float: right;
  width: 3em;
}
