html, body {
  margin: 5px;
  padding: 0;
}

span.hidden {
  background-color: black;
  display: inline-block;
  width: 20px;
}

ul#players {
  width: max-content;
}

li.player {
  margin-top: 0.4em;
}

span.choice {
  float: right;
  width: 3em;
}
