<html>
  <head>
    <link rel="stylesheet" href="static/index.css">
    {% if env == 'development' %}
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.js"></script>
  </head>
  <body>

    <div id="app">
      <h2>{{ message }}</h2>
      <span v-if="connected"> 
        <room :players="players" :observers="observers" :name="name" :finished="finished"/>
      </span>
      <span v-else>
        <input-name @enter="enter"/>
      </span>
    </div>

    <script src="static/components/observers-list.js"></script>
    <script src="static/components/players-list.js"></script>
    <script src="static/components/vote.js"></script>
    <script src="static/components/input-name.js"></script>
    <script src="static/components/room.js"></script>
    <script src="static/index.js"></script>
  </body>
</html>
