<html>
  <head>
    <link rel="stylesheet" href="static/index.css">
    {% if env == 'development' %}
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.js"></script>
  </head>
  <body>
    <h3>Rooms</h3>
      {% if rooms %}
        <h4>Join an existing room</h4>
        <ul>
          {% for room in rooms %}
            <li><a href="">{{ room.name }}</a> (👤 {{ room.players_count }} | 👀 {{ room.observers_count }})</li>
          {% endfor %}
        </ul>
      {% endif %}

      <h4>Create a new one</h4>
      <form action="/rooms" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" required />
        <input type="submit" />
      </form>
  </body>
</html>
